body {
    min-height: 842px;
    margin: 0;
    /* width: 595px; */
    /* border: 1px solid light-grey; */
    background: rgb(250, 250, 250);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

#dwnbtn {
    cursor: pointer;
    background: goldenrod;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    color: white;
}

header {
    background: goldenrod;
    color: white;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    vertical-align: text-bottom;
}

.head-wrap {
    max-width: 700px;
    margin: auto;
}

.email {
    float: right;
    font-style: italic;
    font-size: 10px;
    vertical-align: text-bottom;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.title {
    color: goldenrod;
    clear: both;
}

.content {
    margin: 116px auto;
    color: #666;
    max-width: 595px;
}

.bedrijf-wrap {
    overflow: hidden;
    vertical-align: -webkit-baseline-middle;
}

.bedrijf {
    color: #333;
    float: left;
    clear: left;
    font-size: 15px;
}

.discription {
    color: #333;
    float: right;
    font-size: 15px;
    font-style: italic;
}

.uitleg {
    padding-left: 15px;
    clear: both;
    font-size: 11px;
}

p {
    margin: 0;
}

li {
    list-style: none;
    padding-bottom: 20px;
}

li:last-child {
    padding-bottom: 20px;
}

ul {
    padding: 0;
}

.kwart-wrap {
    margin: 16px 0;
    overflow: hidden;
}

tr {
    width: 100%;
}

table {
    width: 100%;
}

.kwart-table {
    font-size: 13px;
    float: left;
    width: 25%;
    min-width: 145px;
    height: 30px;
    white-space: nowrap;
    color: #333;
    width: 25%;
}

th {
    display: none;
}

.kwart {
    font-size: 13px;
    float: left;
    width: 25%;
    min-width: 145px;
    height: 30px;
    white-space: nowrap;
    color: #333;
}

/* .kwart:last-child {
    padding-bottom: 20px;
    clear:both;
} */

.kwart::before {
    content: '-';
}

.hobby {
    font-size: 13px;
    color: #333;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .content {
        max-width: 90%;
    }
    .kwart {
        width: 33%;
    }
}